# Git
.git
.gitignore

# IDE
.vscode
.idea

# 依赖
node_modules

# 构建产物
dist

# 数据库文件
*.db
*.db-journal

# 测试
test
coverage

# 文档
*.md

# 环境配置
.env
.env.local
.env.*.local

# 杂项
.DS_Store
Thumbs.db
*.log
